// WoW App Variables
// ==========================================

// Colors
// ==========================================
$gold: #ffd700;
$gorse: #ffed4e;
$hot-toddy: #b8860b;
$gallery: #ededed;
$black: #000000;
$gray: rgba(255, 255, 255, 0.7);
